body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.main {
    background-color: #f0eef1;
    flex: 1;
}

.add-book {
    justify-self: center;
    margin: 30px;
}

.book-shelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    padding: 0 30px;
    gap: 30px;
    flex: 1;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    gap: 10px;
    height: 200px;
}

.book-card > * {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: beige;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}